<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SQL Live Snippets</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" media="all" title="no title" charset="utf-8"/>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.2.0/jszip.min.js"></script>


    <script type="text/javascript" src="/static/codemirror.js"></script>
    <script type="text/javascript" src="/static/codemirror_sql.js"></script>

    <link rel="stylesheet" href="/static/w3schools.css">
    <link rel="stylesheet" href="/static/codemirror.css">

    <link rel="stylesheet" href="/static/downloadData.css">
    <link rel="stylesheet" href="/static/lhs.css">
	
	<style>
    body { background-color:#fafafa; font-family:'Open Sans';}
    .ws-btn{
        background-color: black;
    }
    #maincontainer{
        display: none;
    }
    .book-body{
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
    }
    #section-description{
        font-size: 20px;
    }
	</style>
    <!-- <script src="/static/spreadsheet.js"></script> -->
    <script type="text/javascript" src="/static/sqlcodesubmit.js"></script>
</head>
<body onload="init();">
    <div class="book font-size-2 font-family-1 with-summary">
        <div class="book-summary">
            <nav role="navigation">
                <ul class="summary" id="sql-sections">
                <li><a href="#">SQL Live Coding Tutorial Book</a>
                </li>
                <li class="divider"></li>    
                </ul>
            </nav>
        </div>

	    <div class="book-body fixed">
            <h2 id="section-heading"></h2>
            <p id="section-description"></p>
            <div id="maincontainer">
            </div>
		
    </div>
</div>

</body>
</html>






 
          